/* Style the button that is used to open and close the collapsible content */
.news__category {
    background-color: white;
    color: #444;
    height: 57px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    border-bottom: 1px solid $fossil;

    &-title {
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
justify-content: space-between;
    }
  & img {
      background-color: white;
      border-radius: 100px;
      width: 35px;
      height: 35px;
      margin: 0 16px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* Style the collapsible content. Note: hidden by default */
  &-article {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border-bottom: 1px solid $fossil;
    height: 100px;
    padding: 15px;
  }
  &-article-img {
      width: 70px;
      height: 70px;
      align-content: center;
      border-radius: 100px;
background-color: red;
margin-right: 10px;
float: left;
  }
  &-article-title {
      padding: 10px;
      font-weight: bold;
  }
}