/* Style the button that is used to open and close the collapsible content */
.news__category {
    background-color: #eee;
    color: #444;
    height: 57px;
    width: 100%;
    border: none;
  
  /* Style the collapsible content. Note: hidden by default */
  &-article {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  &-article-img {
      width: 70px;
      height: 70px;
      align-content: center;
      border-radius: 100px;
background-color: white;
margin-right: 10px;
float: left;
  }
  &-article-title {
      padding: 10px;
  }
}