.topmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #C8D1D3;
    color: #324755;
    font-size: 18px;

    &__title {
        font-weight: bold;
        font-size: 18px;
        margin-left: 4em;
        margin-right: 4em;
    }
    &__title a {
        color: #324755;
    }
}

.topmenu__settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #C8D1D3;

    &-inbox {
        margin-left: -4em;
    }
    &-title {
        margin-right: 2em;
        font-weight: bold;
        font-size: 18px;
        
    }
    &-title a {
        color: #324755;
    }
}

.searchBar {
    border-bottom: 1px solid #C8D1D3;
    text-align: center;

    &__btn {
        vertical-align:middle;
        height: 45px;
        width: 2em;
        background: $ice;
        font-size: 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $secondary-text;
        border: none;
        cursor: pointer;
        padding-right: 5px;
    }
}

    input {
        display: inline-block;
        width: 80%;
        height: 45px;
        box-sizing: border-box;
        margin: 1.2em auto;
        background-color: $ice;
        border: none;
        padding: 10px 10px 10px 40px;
        color: $secondary-text;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
