.settings {
background-color: #ECEFF0;
height: 90vh;

&__title {
    font-size: 30px;
    font-weight: bold;
    color: $sage;
    text-align: center;
    padding-top: 29px;
}
&__title p {
    font-size: 20px;
    color: #707070;
    font-weight: normal;
}
&__content {
    background-color: white;
    margin: 1.2em;
    border-radius: 0.5em;
    border: none;
    list-style: none;
}
&__content li {
    vertical-align: middle;
    height: 3em;
    line-height: 2em;
    border-bottom: 1px solid #C8D1D3;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
}