$primary-text: #1B1C20; // onyx
$secondary-text: #6E8CA0; // Slate

$sage: #87BCBF; // turkis
$rust: #D97D54;  // orange
$drab: #324755; // mørke-grå-blå
$danger: #D95454; // rødlig advarselsfarve

$ice: #F0F3F4; // ice hvid
$test-color: #C8D1D3; // grålig
$sand: #B9B0A2; // sandfarvet
